<app-add-assignment (assignmentAdded)="onAddAssignement($event)" *ngIf="formVisible"></app-add-assignment>

<main class="container">
  <button mat-flat-button color="primary" (click)="onAddAssignmentBtnClick()" routerLink="/add" [disabled]="!isLogged()">Ajouter un
    devoir</button>
  <h3>Liste des devoirs :</h3>

  <mat-list *ngFor="let assignment of assignments">
    <nav><a [routerLink]="isLogged() ? '/assignment/' + assignment.id: null" [style.pointer-events]="isLogged() ? 'auto' : 'none'">{{assignment.nom}}
        <h3 mat-subheader>Date de rendu : {{assignment.dateDeRendu | date : 'dd/MM/yyyy'}}</h3>
        <h3 mat-subheader>Auteur : {{assignment.auteur}}</h3>
        <h3 mat-subheader>Matière : {{assignment.matiere}}</h3>
        <mat-list-item>
          <p appRendu *ngIf="assignment.rendu; else nonsoumis">
            Devoir intulé : {{assignment.nom}} a été rendu.
            Note : {{assignment.note}} /20
          </p>
          <ng-template #nonsoumis>
            Le devoir {{assignment.nom}} n'a pas été rendu.
          </ng-template>
          <mat-divider></mat-divider>
        </mat-list-item>
      </a></nav>
  </mat-list>
</main>