
table tr td {
  border: 1px solid black;
}

.rendu {
  color:green;
}

.nonRendu {
  color:red;
  border:2px dashed red;
  background-color:yellow;
}

.container {
  display: flex;
  flex-direction: column;
}

.ajouterBtn{
  align-self: flex-end;
}

#monParagraphe {
  color:pink
}
