<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-button (click)="openSidenav=!openSidenav"><mat-icon>menu</mat-icon></button>
        <button mat-button routerLink="/home"><mat-icon>home</mat-icon></button>
        <button *ngIf="!authService.loggedIn" (click)="onLogginForm()"><mat-icon>person</mat-icon></button>
        <button *ngIf="authService.loggedIn" mat-button (click)="onLogOut()"><mat-icon>exit_to_app</mat-icon></button>
    </mat-toolbar-row>
</mat-toolbar>
<h1>
    <nav routerLink="/home">{{titre}}</nav>
</h1>
<mat-sidenav-container>
    <mat-sidenav [(opened)]="openSidenav" mode="side">
        <mat-list>
            <mat-list-item><a routerLink="/home"
                    style="color: aliceblue; text-decoration: none; white-space: pre-wrap;">Liste des
                    devoirs</a></mat-list-item>
            <mat-list-item><a routerLink="/add"
                    style="color: aliceblue; text-decoration: none; white-space: pre-wrap;">Ajout d'un
                    devoir</a></mat-list-item>
            <mat-list-item><a routerLink="/home"
                    style="color: aliceblue; text-decoration: none; white-space: pre-wrap;">Génération de données
                    test</a></mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
        <!--<app-assignments></app-assignments> -->
        <!--<app-assignment-detail></app-assignment-detail> -->
    </mat-sidenav-content>
</mat-sidenav-container>