<form ngForm #assignmentForm class="form">
  <mat-form-field>
    <input matInput [(ngModel)]="nomDevoir" name="nom" placeholder="Nom du devoir" />
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" [(ngModel)]="dateDeRendu" name="date" placeholder="Date de rendu">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="auteur" name="auteur" placeholder="auteur" />
  </mat-form-field>
  <mat-form-field>
    <mat-label> Matière </mat-label>
    <mat-select [(ngModel)]="matiere" name="matiere">
      <mat-option *ngFor="let matiere of matieres" [value]="matiere">
        {{matiere}}
      </mat-option>
    </mat-select>
  </mat-form-field> 
  <button mat-stroked-button color="primary" (click)="onSubmit($event)" >Ajouter devoir</button>
</form>